
<!doctype html>
<html lang="en">

<head>
    <title>iBoss</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <script src="https://kit.fontawesome.com/007bd262c1.js" crossorigin="anonymous"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    
    <style>

        :root {
            --background: rgba(233, 227, 227, 0.45);
            --font-color: #353535;
            --main-background: white;
            --gradient-background: linear-gradient(90deg, rgba(194, 179, 179, 0.45), rgba(255, 255, 255, 0.45));
            --shadown: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03);
        }

        [data-theme="dark"] {
            --background: #424242;
            --font-color: #e1e1ff;
            --main-background: #2c2c2c;
            --gradient-background: linear-gradient(90deg, #282828, #4a4a4a);
            --shadown: 0 0.46875rem 2.1875rem rgba(255, 255, 255, 0.45);
        }
        body {
            max-width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
            top: 0;
            background: var( --background);
            font-family: 'Roboto', sans-serif;
            color: var(--font-color);
        }
        .bg-white {
            background: var( --main-background) !important;
        }
        nav {
            width: 100%;
            position: fixed;
            margin: 0;
            z-index: 1;
            box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
            padding: 8px;
        }

        .main-page {
            width: 100%;
            left: 0;
            max-height: 100%;
            margin: 0;
        }

        .side-bar {
            background: var( --background);
            max-height: 100%;
            box-shadow: var( --shadown);
            color: black;
            margin-top: 50px;
            height: 100vh;
            padding: 0;
        }

            .side-bar a {
                color: var( --font-color);
                text-decoration: none;
                list-style: none;
            }
        .table {
            color: var( --font-color);
        }
        a {
            color: var( --font-color);
        }
        .button-link {
            width: 100%;
            height: 24%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background: var(--main-background);
            border-radius: 0 10px 10px 0;
            border-bottom: 1px rgb(14, 12, 12);
            z-index: 1;
            color: rgb(131, 125, 125);
        }

            .button-link:hover {
                background: var( --background);
                background-image: var(--gradient-background);
                transition: background-color 1s;
            }


        .active {
            background: var( --background);
            background-image: var(--gradient-background);
        }

        .main-content {
            height: 100vh;
            position: relative;
            margin: 0;
        }

        .list {
            background: var(--main-background);
            height: 80vh;
            margin: 90px 10px;
        }

        .chart {
            flex: 0 0 22%;
            padding: 0;
            max-width: 35%;
            height: 60vh;
            margin: 90px 0 10px 10px;
            color: var( --font-color);
            background: var(--main-background);
        }

        #genderChart {
            padding: 0;
            margin: 0;
            height: 50%;
            color: var( --font-color);
            background: var(--main-background);
        }

        #numberChart {
            padding: 0;
            margin: 0;
            height: 50%;
            margin-top: 20px;
        }

        .search-container {
            margin: 0px 0 10px 18%;
            width: 400px;
        }

            .search-container input[type=text] {
                padding: 10px;
                margin-top: 0px;
                font-size: 17px;
                border-radius: 50px;
                z-index: 1;
                width: 20%;
                height: 50px;
                border: none;
                position: absolute;
                background: rgba(233, 227, 227, 0.45);
            }

            .search-container input[type=number] {
                padding: 10px;
                margin-top: 2px;
                font-size: 17px;
                border-radius: 50px;
                z-index: 1;
                width: 20%;
                height: 50px;
                border: none;
                position: absolute;
                background: rgba(233, 227, 227, 0.45);
            }

            .search-container button {
                float: right;
                padding: 8px 14px;
                margin-top: 3px;
                margin-right: 10px;
                margin-left: 0px;
                z-index: 2;
                background: #ddd;
                font-size: 21px;
                border: none;
                cursor: pointer;
                position: relative;
            }

                .search-container button:hover {
                    background: #ccc;
                }

        .switch {
            position:fixed;
            margin-top: 46%;
            margin-left: 94%;
        }

        .name-logo {
            margin-left: 6%;
        }

        .exit-button {
            margin-left: 96%;
        }

        .notification {
            margin-left: 80.5%;
        }

        .item-nav {
            position: absolute;
            z-index: 2;
            width: 70px;
            height: 70px;
        }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            padding: 11px;
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgb(228, 222, 222);
            -webkit-transition: .4s;
            transition: .4s;
        }

        /* .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        } */

        input:checked + .slider {
            background-color: rgb(131, 147, 161);
            transform: rotate(360deg);
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 50%;
        }

            .slider.round:before {
                border-radius: 10%;
            }

        .main-hel ul li {
            list-style: none;
            width: 32%;
            height: 45px;
            border: none;
            display: inline-block;
            text-align: center;
            border-radius: 7px;
            padding: 10px;
        }

            .main-hel ul li a {
                text-decoration: none;
                color: black;
                font-weight: bold;
                font-size: 20px;
            }

        .form-control {
            background: var(--background);
        }

        .box-block {
            background: var( --main-background);
            color: var(--font-color);
            box-shadow: var( --shadown);
            left: 81%;
            top: 9%;
            width: 290px;
           
            position: fixed;
            display: none;
            padding: 10px;
        }
        .dropdown-item {
            color: var(--font-color);
        }

        .list-birthday a {
            display: flex;
            text-decoration: none;
            color: black;
        }

            .list-birthday a:hover {
                background: var( --main-background);
            }

        .text {
            font-weight: 500;
        }

            .text p {
                font-weight: normal;
                font-size: 13px;
            }

        .list-birthday {
            padding: 0px;
        }

        .icon-birthday {
            margin: 5px;
            color: rgb(155, 147, 147);
            font-weight: 300;
        }
    </style>
    <!-- containner -->
    <div class="container-xl">
        <nav class="nav bg-white">
            <h1 class="item-nav name-logo">iBoss</h1>
            <div class="search-container">
                <form asp-controller="Home" asp-action="Search" method="get">
                    <input type="number" placeholder="Search.." name="search" value="@ViewBag.key">
                    <button type="submit" style="border-radius: 50px;"><i class="fa fa-search"></i></button>
                    @*<input type="submit" value="Filter" />*@
                </form>

            </div>
            <h2 style="margin-left:10%; width:500px">Welcome back, @ViewBag.name</h2>
            <label class="item-nav switch">
                <input type="checkbox" id="darkmode">
                <span class="slider round" style="color: rgb(255, 255, 255);"> <i id="toggle" class="far fa-sun fa-3x"></i></span>
            </label>
            <a onclick="confirmLogout()" class="item-nav exit-button">
                <i class="fas fa-sign-out-alt fa-3x" style="color:rgb(176, 184, 190)"></i>
            </a>
            <a href="#" class=" item-nav notification" id="inform">
                <i class="fas fa-bell fa-3x" style="color:rgb(176, 184, 190)"></i>
            </a>

            <div class="box-block">
                <h6>
                    Notifications
                </h6>
                <hr style="margin: 2px 0 10px 0" />
                <ul class="list-birthday" id="inform-birthday">
                </ul>
                <a class="dropdown-item text-center small text-gray-500" href="event">Show More</a>
            </div>
        </nav>


        <div class="row main-page ">

            <!-- side bar -->
            <div class="col-md-2 side-bar ">
                @if (ViewBag.Role == "Admin" || ViewBag.Role == null)
                {
                    <a href="@Url.Action("Index","Admin")" class="button-link @(ViewBag.Current == "home" ? "active" : "") " id="payroll">
                        <i class="fas fa-home fa-2x"></i>
                        <h3>Admin</h3>
                    </a>
                }
                @if (ViewBag.Role == "Admin" || ViewBag.Role == "Payroll" || ViewBag.Role == null)
                {
                    <a href="@Url.Action("Index","Payroll")" class="button-link @(ViewBag.Current == "payroll" ? "active" : "") " id="payroll">
                        <i class="fas fa-money-check fa-2x"></i>
                        <h3>Payroll</h3>
                    </a>
                }
                @if (ViewBag.Role == "Admin" || ViewBag.Role == "Human" || ViewBag.Role == null) {
                    <a href="@Url.Action("Index","Human")" class="button-link @(ViewBag.Current == "human" ? "active" : "") " id="human">
                        <i class="fas fa-users fa-2x"></i>
                        <h3>Human</h3>
                    </a>
                }

                <a href="@Url.Action("Index","Event")" class="button-link  @(ViewBag.Current == "event" ? "active" : "") " id="event">
                    <i class="far fa-calendar-check fa-3x"></i>
                    <h3>Event</h3>
                </a>

            </div>
            <!-- main content -->
            <div class=" fa- col-md-10 main-content row" style="padding-right:0">
              
                    @RenderBody()
                
            </div>

        </div>
    </div>
</body>

</html>
<script>
    function confirmLogout() {
        var reallyLogout = confirm("Do you really want to log out?");
        if (reallyLogout) {
            location.href = "User/Logout";
        }
    }
   
</script>
<script>
    var month = (new Date).getMonth() + 1;
    var date = (new Date).getDate();
    var year = (new Date).getFullYear();
    //alert(date);
    $.ajax({
        type: "POST",
        url: "@Url.Action("InformBirthday", "Event")",
        data: { month: month, date: date },
        dataType: "json",

        success: function (data) {
            // alert(id);
            var rows = '';
            $.each(data, function (i, item) {

                //format date



                rows +=
                    '<li>' +
                    '                        <a href="">' +
                    '                            <div class="col-2 icon-birthday"><i class="fas fa-birthday-cake fa-2x"></i></div>' +
                    '                            <div class="col-10 text"> ' + item.currenT_FIRST_NAME + '<p> has birthday today. Wish '+(item.currenT_FIRST_NAME ? "him": "her")+' the best !!!</p></div>' +
                    '' +
                    '                        </a>' +
                    '                    </li>';
            });


            $("#inform-birthday").append(rows);


        },
        error: function () {
            alert("Error. Can't sent request !!!");

        },
    });

    $.ajax({
        type: "POST",
        url: "@Url.Action("InformHiringDay", "Event")",
        data: { month: month, date: date },
        dataType: "json",

        success: function (data) {
            //alert(JSON.stringify(data));
            var rows = '';
            $.each(data, function (i, item) {
                
                //format date
                const dateTime = item.hirE_DATE_FOR_WORKING;
                const parts = dateTime.split(/[- T :]/);
                const getYear = parseInt(year) - parseInt(parts[0]);
                rows +=
                    '<li>' +
                    '                        <a href="">' +
                '                            <div class="col-2 icon-birthday"><i class="fas fa-briefcase fa-2x"></i></div>' +
                '                            <div class="col-10 text">' + item.currenT_FIRST_NAME + '<p>The Anniversary of the ' + getYear + ' years work here.</p></div>' +
                    '' +
                    '                        </a>' +
                    '                    </li>';
            });

            $("#inform-birthday").append(rows);


        },
        error: function () {
            alert("Error. Can't sent request !!!");

        },
    });


    $("#inform").click(function () {
        $(".box-block").attr("style", "display:block");
    });


    $(".main-page").click(function (e) {
        $(".box-block").attr("style", "display:none");
    });

    $(document).ready(function () {

        $(".button-link").click(function () {
            $('.button-link').removeClass("active");
            $(this).addClass("active");


        })
    });
    $(document).ready(function () {
        $(".tab ").click(function () {
            $('.tab').removeClass("active");
            $(this).addClass("active");

            if ($(this).hasClass('tab-ques')) {
                $('.tab-content').hide();
                $('.content-ques').show();
            } else if ($(this).hasClass('tab-des')) {
                $('.tab-content').hide();
                $('.content-des').show();
            } else if ($(this).hasClass('tab-acc')) {
                $('.tab-content').hide();
                $('.content-acc').show();
            }
        })
    })
</script>

<script>
    $(document).ready(function () {
        $("#darkmode").change(function () {
            if ($("i").hasClass("fa-sun")) {
                $("#toggle").removeClass("fa-sun");
                $("#toggle").addClass("fa-moon");
            } else {
                $("#toggle").removeClass("fa-moon");
                $("#toggle").addClass("fa-sun");
            }


        });
    });
</script>

<script>
    const toggleSwitch = document.querySelector('.switch input[type="checkbox"]');
    const currentTheme = localStorage.getItem('theme');

    if (currentTheme) {
        document.documentElement.setAttribute('data-theme', currentTheme);

        if (currentTheme === 'dark') {
            toggleSwitch.checked = true;
        }
    }

    function switchTheme(e) {
        if (e.target.checked) {
            document.documentElement.setAttribute('data-theme', 'dark');
            localStorage.setItem('theme', 'dark');

        }
        else {
            document.documentElement.setAttribute('data-theme', 'light');
            localStorage.setItem('theme', 'light');
        }
    }

    toggleSwitch.addEventListener('change', switchTheme, false);

</script>