@model IEnumerable<iBoss.Models.Entities.Payroll.ModelViewPayroll>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SSN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayRatesidPayRates)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.VacationDays)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SSN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayRate)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.PayRatesidPayRates)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.VacationDays)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.idEmployee">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idEmployee">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idEmployee">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
